@model WebApplication1.Models.Photo
@using WebApplication1.Models

<h2>Szczegóły zdjęcia</h2>

<table class="table">
    <tr><th>Data i godzina</th><td>@Model.DateTaken</td></tr>
    <tr><th>Opis</th><td>@Model.Description</td></tr>
    <tr><th>Aparat</th><td>@Model.Camera</td></tr>
    <tr><th>Autor</th><td>@Model.Author</td></tr>
    <tr><th>Rozdzielczość</th><td>@Model.Resolution</td></tr>
    <tr><th>Format</th><td>@Model.Format.GetDisplayName()</td></tr>
</table>

<a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>